---
import '../styles/global.css';
import Navbar from '../components/Navbar.jsx';
import FloatingMascot from '../components/FloatingMascot.jsx';

interface Props {
	title: string;
	themeColors?: Record<string, string>;
}

const { title, themeColors } = Astro.props;
---

<!doctype html>
<html lang="id">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100..700,0..1&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap" rel="stylesheet" />
	</head>
	<body class="bg-background-light text-slate-900 font-display transition-colors duration-300">
		{themeColors && (
			<style define:vars={themeColors}></style>
		)}
		<Navbar client:load />
		<slot />
		<FloatingMascot client:load />
	</body>
</html>
